backend/data/raw/*
backend/data/processed/*
backend/.env
backend/env
frontend/.env
frontend/.env.development
frontend/.env.production
frontend/build/
backend/__pycache__/
*.pyc
.pytest_cache/
__pycache__/
.DS_Store
.vscode/
frontend/node_modules/
backend/models/jazz_transformer/best_model_v1.pt
backend/models/jazz_transformer/best_model_v2.pt
backend/models/jazz_transformer/epoch_10.pt